.main
  display: grid
  grid-template-rows: 1fr auto
  place-items: center
  font-size: 1.25rem
  font-family: 'SinkinSans', sans-serif
  height: 90vh
  padding: 5vmin

  .author
    font-size: 0.8rem
    color: #646161

.logo_wrapper
  position: fixed
  bottom: 1vh
  right: 1vh
  width: 30vh
  height: 30vh
  opacity: 0.1

.refresh_button
  display: grid
  place-items: center
  cursor: pointer
  height: 10vh
  width: 60vw
  background: transparent
  border: none

  svg:first-child
    color: #4c4949
    width: 3vmax
    height: 3vmax
  svg:last-child
    color: #cbc9c9
    width: 2vmax
    height: 2vmax

.rotating
  animation-name: spin
  animation-duration: 500ms
  animation-iteration-count: infinite
  animation-timing-function: linear

  @keyframes spin
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)
