@import '_css-reset'
@import '_modules'

html,
body
  font-family: 'Exo', sans-serif

.flex
  display: flex
  justify-content: center
  align-items: center
  &.column
    flex-direction: column
  &.gap-1
    gap: 1rem
  &.gap-2
    gap: 2rem
  &.gap-3
    gap: 3rem
  &.gap-4
    gap: 4rem

@font-face
  font-family: "SinkinSans"
  src: url("/SinkinSans-400Italic.otf")
  font-style: italic
  font-weight: 400
  font-display: swap

@font-face
  font-family: "SinkinSans"
  src: url("/SinkinSans-400Regular.otf")
  font-style: normal
  font-weight: 400
  font-display: swap
